node_modules
dist
dist-ssr
*.local
*.tsbuildinfo
.DS_Store
.vscode/*
!.vscode/extensions.json
scripts/lift-calculation/*.xlsx
scripts/lift-calculation/*.csv
scripts/lift-calculation/.venv/
scripts/lift-calculation/__pycache__/
