@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  @apply font-sans antialiased;
  background-color: #f6f1e7;
}

.dark body {
  background-color: #1a1613;
}
